language: node_js
node_js:
  - "14.18.0"
script:
  - echo "Deploying"

before_script:
  - npm install -g firebase-tools
  - npm install -g @vue/cli@latest
  - npm install

script:
  - npm run build
branches:
  only:
  - echo "Master"
  - master 

after_success: 
  - echo "Firebase Depolyment Start"
  - firebase deploy --token $FIREBASE_TOKEN
  - echo "done"
